# Core dependencies
fastapi==0.110.0             # Web framework
uvicorn[standard]==0.27.1    # ASGI сервер
aiocache==0.12.3
aiohttp==3.11.18
aioredis==2.0.1
aioboto3==14.3.0

# JWT / auth
python-jose[cryptography]>=3.3.0  # Для кодування/декодування токенів

# ODM
beanie==1.25.0               # ODM для MongoDB на базі Pydantic
motor==3.4.0                 # async MongoDB driver
pymongo==4.5.0                # MongoDB driver

# Схеми / валідація
pydantic==2.6.3              # Схеми та валідація
pydantic-settings==2.2.1     # Робота з env (BaseSettings)              # Async HTTP-клієнт для тестів

# Безпека / utils
python-dotenv==1.0.1         # env-файли